.swiftpm/xcode/package.xcworkspace/xcuserdata/a18785272.xcuserdatad/UserInterfaceState.xcuserstate
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.swiftpm/xcode/xcuserdata/a18785272.xcuserdatad/xcschemes/xcschememanagement.plist
